body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #F6F6F6, #E2E2E2, #E2E2E2);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh;
    color: #322871; /* Texto com o tema roxo */
    flex-direction: column; /* Garante que os elementos fiquem em coluna */
}

.container {
    display: flex;
    flex-direction: column; /* Garante que os elementos fiquem em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    width: 100%; /* Garante que ocupe toda a largura */
}

.error{
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: -14px;
    
}

.error-title {
    font-size: 150px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
letter-spacing: -0.5px;
}

.error-message {
    color: #322871;
text-align: center;
font-size: 30px;
font-weight: bold;
line-height: 120%; /* 57.6px */
letter-spacing: 0.25px;
}

.description {
    font-size: 16px;
    max-width: 400px;
    margin: 0 auto 30px auto;
    color: #666;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.retry {
    background-color: #322871;
    color: white;
}
.retry:hover {
    background-color: #262756;
}

.back {
    background-color: #4CAF50;
    color: white;
}
.back:hover {
    background-color: #45a049;
}

.logo {
    position: fixed;
    bottom: 0; /* logo no final da tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para que fique exatamente no centro */
    width: 09vw; 
    margin: 0; 
}

