@font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Thin.otf') format('opentype');
    font-weight: 100;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ ExtraLight.otf') format('opentype');
    font-weight: 200;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Light.otf') format('opentype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Regular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Medium.otf') format('opentype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ DemiBold.otf') format('opentype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Bold.otf') format('opentype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ ExtraBold.otf') format('opentype');
    font-weight: 800;
  }
  
  @font-face {
    font-family: 'TT Commons';
    src: url('/Assets/fonts/TT\ Commons\ Black.otf') format('opentype');
    font-weight: 900;
  }
  

:root {
    --primario: #412884;
    --primario-escuro: #312E81;
    --primario-claro: #818CF8;
    --primario-muito-claro: #C7D2FE;
    --sucesso: #4ADE80;
    --alerta: #FBBF24;
    --perigo: #F87171;
    --cinza-100: #F3F4F6;
    --cinza-200: #E5E7EB;
    --cinza-300: #D1D5DB;
    --cinza-500: #6B7280;
    --cinza-700: #374151;
    --cinza-800: #1F2937;
    -largura-barra-direita: 310px;
    --background: #F6F6F6 ;
    --cartoes: #fafafa ;
    --borda: #F0F0F0 ;
    --texto: #343434 ;
    --texto-p: #6B7280 ;
    --sombra : 0px 4px 30px 0px rgba(54, 41, 183, 0.07) ;
    --th: #E5E7EB;
    --tr: #F3F4F6;
    --fundo-botao:#E5E7EB ;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
    font-family: 'TT Commons', sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--texto);
    line-height: 1.5;
}

.conteudoPrincipal {
    padding: 1.5rem;
    margin-right: var(--largura-barra-direita);
    overflow: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.abasRelatorio {
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
}


.planos-container {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  max-height: 600px;
  background: #D9D9D980;
  align-items: flex-start;
  gap: 10px;
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 6px 6px 54px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 18px;
}
.planos-container > p {
  color: #555;
  margin-bottom: 32px;
}

.planos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 16px;
  margin-bottom: 6px;
}

.plano {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25vw;
  height: 420px;
  padding: 30px 18px 18px 18px;
  background: #D9D9D9;
  border-radius: 12px;
  box-shadow: 0 0 0 1px #ccc;
  gap: 3px;
}
.plano:hover {
  box-shadow: 0 0 0 1px #412884;
}
.plano h3 {
  font-size: 26px;
  margin-bottom: -4px;
}

.preco {
  font-weight: bold;
  font-size: 20px;
}
.descricao {
  font-size: 12px;
  color: #5b5b5b;
  margin-bottom: 16px;
}
.listaBeneficios {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 0; 
  margin-left: 0;  
  font-size: 16px;
}

.plano button {
  margin-top: auto; 
  align-self: center;
  width: 100%; 
  padding: 16px 110px;
}
button {
  background-color: #412884;
  color: white;
  border: none;
  border-radius: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 4.697px 4.697px 42.269px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

button:hover {
  background-color: #322871;
}
#atual {
  background-color:#412884;
  width: 100%;
}
#atual:hover {
  background-color: #322871;
}


.detalhes-pagamento {
  border-radius: 12px;
  background: #fafafa;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 30px 0px rgba(54, 41, 183, 0.07);
  padding: 1rem;
  flex: 1 0 0;
  margin-bottom: 18px;
}

.subsecao {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.lado-esquerdo, .lado-direito {
  flex: 1;
  min-width: 300px;
}

.info {
  margin-bottom: 10px;
}

.rotulo {
  font-weight: bold;
}

.barra-container {
  background: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.preenchimento-barra {
  height: 10px;
  background: #4B0082; 
}

.metodo-pagamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(217, 217, 217, 0.50);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}

.etiqueta {
  background: #CFF6D8;
  color: #2D8A43;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}

.botao-adicionar {
  background-color: #3b2b7e;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
}

.detalhes-pagamento {
  padding: 14px;
}
.detalhes-pagamentoHeader {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.091px 3.273px 4.091px 8.999px;
    margin-top: -4px;
    margin-bottom: 8px;
    
}

.fundo-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fundo-modal.escondido {
  display: none;
}

.janela-modal {
  background: white;
  padding: 1.6rem;
  border-radius: 12px;
  max-width: 550px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.grupo-campos {
  display: flex;
  gap: 2rem;
}

.campo {
  flex: 1;
}

.janela-modal label {
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
}

.janela-modal input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.botao-principal {
  background-color: #412884;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: bold;
  width: 100%;
  margin-top: 1rem;
  cursor: pointer;
}

.botao-secundario {
  background-color: #aaa;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: bold;
  width: 100%;
  margin-top: 0.5rem;
  cursor: pointer;
}

.cartao1 {
  background: rgba(217, 217, 217, 0.50);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.titulo-secao {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.listaUsuarios {
  border-radius: 12px;
  background: #fafafa;
  border: 1px solid #F0F0F0;
  box-shadow: 0px 4px 30px 0px rgba(54, 41, 183, 0.07);
  padding: 1re;
  flex: 1 0 0;
}

.listaUsuariosHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.091px 3.273px 4.091px 8.999px;
    margin-top: 10px;
    margin-bottom: 8px;
    
}

.listaUsuariosHeader h2 {
  font-size: 1.3rem;
  font-weight: 600;
}
  
.tabelaUsuarios {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 0.3rem;
    overflow: hidden;
    padding: 0.75rem;
  }

th {
    background-color: #e0e1e5;
    padding: 0.75rem 1rem;
    text-align: left;
    font-weight: 500;
}

td {
    padding: 0.75rem 1rem;
    background-color: #eeeff1;
    
}

tr td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}

tr td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

thead tr th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

thead tr th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tag {
    padding: 4px 6px;
    border-radius: 5px;
    color: #fff;
    font-size: 0.9em;
  }
   .pago {background: rgba(76, 175, 80, 0.30); color: #197C1D;}
  .aberta { background: rgba(226, 70, 70, 0.3); color: #be000d; }

  svg{
    cursor: pointer;
  }

  .tabs {
  background: #f0f0f0;
  padding: 0.7rem;
  width: 575px;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  }

  .tab {
  background: #e2e2e2;
  padding: 0.8rem 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  }   

  .tab.active {
  background: #6b5cc2;
  color: white;
  }


    .toggle-switch {
      width: 40px;
      height: 22px;
      background: #bbb;
      border-radius: 15px;
      position: relative;
      cursor: pointer;
      margin-left: 1rem;
      flex-shrink: 0;
      transition: background-color 0.3s ease;
    }

    .toggle-switch::after {
      content: "";
      width: 18px;
      height: 18px;
      background: white;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: 0.3s;
    }

    .toggle-switch.active {
      background: #6b5cc2;
    }

    .toggle-switch.active::after {
      left: 20px;
    }
