.botaoAcao.secundario{
  background-color: #412884;
  color: #F0F0F0;
  padding: 10px;
}
.botaoAcao.secundario:hover{
  background-color: #322871;
  color: #F0F0F0;
  padding: 10px;
}
.cartaoTexto.column summary{
  font-size: 18px
}
.cartaoTexto.column p{
  font-size: 16px;
}
@media (max-width: 700px) {
  .boxContatoWrap {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .contatoInfo, .formularioContato {
    min-width: 0;
    width: 100%;
  }
}

@media (max-width: 640px) {

 .cartaoTexto p {
    font-size: 0.9rem;
  }
  .cartaoTexto h2 {
    font-size: 1.2rem;
  }
  .cartaoTexto h3 {
    font-size: 1rem;
  }
  .cartaoTexto h4 {
    font-size: 0.9rem;
  }
  .contato {
    display: flex;
    flex-direction: column;
  }
}

.contato {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
